*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
}

/* contenitore dei cloni */
section{
    margin: 50px 0;
}

div.containerClone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuto{
    height: 100px;
    width: 100px;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template{ /* elemento da clonare */
    display: none;
}

/* colori da assegnare in dinamico */
.maggiore{
    background-color: teal;
}

.minore{
    background-color: rgb(207, 207, 152);
}

/* messaggio di visualizzazione */
.dialogo{
    position: absolute;
    top: 10%;
    left: 10%;
    display: none;
    flex-direction: row-reverse;
    width: 165px;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 7px;
    padding: 28px;
}

div.elimina_finestra button{
    color: #3737a2;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    padding: 10px;
    background-color: #f0f0f0;
    margin-top: 5px;
}

